{% extends 'base.html' %}
{% load static %}
{% block title %}
    Edit-Profile
{% endblock title %}

{% block body %}

<div class=' justify-evenly items-center '>
    <h1 class="text-3xl pt-6  text-center">{{form_title}} {% if id %}<span>#{{id}}</span>{% endif %}</h1>
</div>
<form enctype="multipart/form-data"  action="" method="post">
    <div class=" flex w-3/4 mx-auto flex-col justify-center item-center space-y-4">

        {% csrf_token %}
        <div class= 'rounded-full w-28 h-28 border border-red-600 overflow-hidden'>
            <img src="{{ user.avatar.url }}"  alt="Current Profile Picture" style="height: inherit; width: inherit; z-index: -1;" >
        </div>

        {{ form.as_p }}
        <button type="submit" class="px-4 py-1 bg-purple-600 text-white my-4 w-1/4 rounded-md shadow-md">Save</button>
        
    </div>
</form>

{% endblock body %}

